body {
  background: #e0e0e0 url("../img/004.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 0;
  background-attachment: fixed;
  font-family: Arial,Helvetica,sans-serif; }

a {
  color: #4e4e4e;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.container {
  margin: 0 auto;
  width: 940px; }

nav {
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  height: 70px; }

.title-nav {
  padding: 10px;
  float: left; }

.title-nickname {
  float: right;
  padding: 10px; }

.title {
  margin-left: 135px; }
  .title h1 {
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 20px;
    color: #565656; }

.form {
  border-radius: 3px;
  margin-bottom: 10px;
  border: 1px solid #bbb;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px; }

.flex-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  border-radius: 3px;
  margin-bottom: 10px;
  border: 1px solid #bbb;
  background-color: rgba(255, 255, 255, 0.9); }
  .flex-group .nickname {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    text-align: center;
    border-right: 1px solid #bbb;
    width: 150px;
    padding-top: 16px; }
  .flex-group .info-post {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    padding-top: 10px;
    width: 100px;
    text-align: center;
    border-left: 1px solid #bbb;
    font-size: 13px; }

.post-group {
  width: 100%; }
  .post-group .post {
    padding: 10px 5px; }
  .post-group .data-post {
    border-bottom: 1px solid #bbb;
    padding: 5px 2px;
    font-size: 13px; }
    .post-group .data-post .date {
      float: left; }
    .post-group .data-post .like {
      text-align: right; }
      .post-group .data-post .like .up, .post-group .data-post .like .down {
        margin: 0 10px;
        background-color: #fff;
        border-radius: 3px;
        border: 1px solid #afafaf;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.5); }
        .post-group .data-post .like .up:hover, .post-group .data-post .like .down:hover {
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.5); }
      .post-group .data-post .like .up {
        padding: 1px 5px; }
        .post-group .data-post .like .up:hover {
          background-color: rgba(0, 255, 67, 0.32); }
      .post-group .data-post .like .down {
        padding: 1px 6px; }
        .post-group .data-post .like .down:hover {
          background-color: rgba(255, 0, 0, 0.32); }

.list-group {
  width: 840px; }
  .list-group .topic {
    padding: 7px; }
    .list-group .topic a {
      color: #923f03;
      text-decoration: none; }
      .list-group .topic a:visited {
        color: #b9540b; }
      .list-group .topic a:hover {
        text-decoration: underline; }
  .list-group .data-topic {
    border-bottom: 1px solid #bbb;
    padding: 7px 10px;
    font-size: 13px; }
    .list-group .data-topic .nick {
      float: left;
      font-weight: 600;
      font-size: 14px; }
    .list-group .data-topic .date-list {
      text-align: right; }

form input {
  display: block;
  height: 27px;
  width: 300px;
  border: 1px solid #bbb;
  border-radius: 3px;
  outline: none;
  font-size: 14px;
  margin-bottom: 10px; }
form button {
  width: 120px;
  height: 25px;
  margin-top: 7px;
  border: 1px solid #bbb;
  border-radius: 3px;
  outline: none;
  cursor: pointer; }
form textarea {
  display: block;
  border: 1px solid #bbb;
  border-radius: 3px;
  outline: none;
  font-size: 14px;
  height: 85px;
  width: 300px; }

.re-link {
  margin-top: 10px;
  font-size: 13px; }

.error {
  font-size: 13px;
  color: red; }

ul.pagination {
  display: inline-block;
  border-radius: 3px;
  margin-bottom: 10px;
  border: 1px solid #bbb;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px; }
  ul.pagination li {
    color: #565656;
    float: left;
    padding: 8px 16px;
    text-decoration: none; }
    ul.pagination li.active {
      background-color: #923f03;
      color: white;
      border-radius: 3px; }
    ul.pagination li.disabled {
      color: #b9b9b9; }

footer {
  text-align: center;
  font-size: 12px;
  padding: 19px;
  background-color: rgba(255, 255, 255, 0.9); }

/*# sourceMappingURL=styles.css.map */
