<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Topic name</title>
		<link rel="stylesheet" type="text/css" href="reset.css">
		<link rel="stylesheet" type="text/css" href="styles.css">
		<script src="main.js"></script>
</head>
<body>
	
	<nav>	
		<div class="container">	
			<div class="title-nav">
				<a href="	" class="main">Home</a>
			</div>
			<div class="title-nickname">
				Hello, Nic
				<a href="	" class="Login">Log Out</a>
			</div>
			<div class="title">	
				<h1>Topic name</h1>
			</div>
		</div>
		
	</nav>
	
	<div class="list">	
		<div class="container">	
			<article class="flex-group">	
				<div class="nickname">
					Nick
				</div>
				
				<div class="post-group">
					<div class="data-post">	
						<div class="date">15:51 11.08.18</div>
						<div class="like"> <span onclick="up()"; class="up">+</span><span id="likes">333</span><span onclick="down()" class="down">-</span>	</div>
					</div>
					<div class="post">	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, deserunt, quis facere soluta tempora sint explicabo animi error porro sed?</div>
				</div>
			</article>
			
			<article class="flex-group">	
				<div class="nickname">
					Nick
				</div>
				
				<div class="post-group">
					<div class="data-post">	
						<div class="date">15:51 11.08.18</div>
						<div class="like"> <span class="up">+</span>333 <span class="down">-</span>	</div>
					</div>
					<div class="post">Lorem ipsum dolor sit amet.</div>
				</div>
			</article>
			
			<div class="form">	
				<form method="post" action="">
					<label for="text-post">Add Post</label>
					<textarea id="text-post"name="message"></textarea>
					<button type="submit">Add Post</button>
				</form>
			</div>
						
		</div>
	</div>
	
	